<?php
$servername = "servername";
$database = "database";

// Full Control user
$username_fc = "username_fc";
$password_fc = "password_fc";

// Read/Write user
$username_rw = "username_rw";
$password_rw = "password_rw";

// Read only user
$username_ro = "username_ro";
$password_ro = "password_ro";
?>
