# This is ignored to maintain a clean folder while different migration cells are created and switched between.
# Each migration cell can remove this gitignore, which will resolve itself after all migrations are merged again
migrated-project/

# Ignore all other migration cells per migration branch
m1/**
m2/s1-nextjs/
m2/s2-blazor/
